/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}


/* small helpers */
.container {
    max-width: 1100px;
    margin: 0 auto;
}
